*{
    margin: 0;
    padding: 0%;
}
header{
    background: url('images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.active{
    color: #28B8D8 !important;
}
.navbar{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    height: 90px;
    z-index: 9999999;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, .3);
}
.navbar .navbar-brand{
    font-size: 27px;
    color: #ffffff ;
} 
.navbar .navbar-nav{
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-item{
    margin-left: 44px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 0;
    color: #ffffff;
}
/* banner text part start  */
header .lower-text{
    color: white;
}
header .lower-text .top{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 66px;
    margin-top: 210px;
    margin-bottom: 0px;
}
header .lower-text .mid{
    text-transform: uppercase;
    font-size: 53px;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}
header .lower-text .bottom{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}
/* banner part start  */
.banner-bg{
    background-color: #f9f9f9;
    width: 100%;
    height: 710px;
}
.banner-bg .text-1{
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 0px;
    color: #444444;
}

.banner-bg .text-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18.66px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 60px;
    color: #444444;
}

.banner-bg .text-3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: #444444;
}
.banner-bg .card .card-title{
    text-align: center;
    font-size: 17pt;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin-bottom: 10px;
}
.banner-bg .card .card-text{
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
/* instagram shot part start  */
.insta-shot{
    height: 590px;
    background-color: #2c2c2c;
    padding-top: 50px;
    width: 100%;
}
.insta-shot .top{
    position: relative;
    font-size: 18pt;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #d5d5d5;
    text-transform: uppercase;
}
.insta-shot .top::after{
    content: " ";
    position: absolute;
    width: 100px;
    height: 1px;
    top: 18px;
    left: 430px;
    background-color: #d5d5d5;
}

.insta-shot .top::before{
    content: " ";
    position: absolute;
    width: 100px;
    height: 1px;
    top: 18px;
    right: 430px;
    background-color: #d5d5d5;
}
.insta-shot .picture .row{
    width: 100%;
    margin: 0;
    margin-top: 40px;
    
}
.insta-shot .picture{
    width: 100%;
    
}
.insta-shot .picture img{
    width: 100%;
}
.insta-shot .picture .col-3{
    padding: 0;
    box-sizing: border-box;
}
.insta-shot .picture .col-3 img{
    width: 100%;
}
.insta-shot .text-box{
    color: #a6a6a6;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14pt;
    text-transform: uppercase;
    margin-top: 70px;
}
.insta-shot .text-box .page-btn{
    border: 1px solid #a6a6a6;
    display: inline;
    padding: 15px;
    
}
/* journal part star ? */
.journal{
    width: 100%;
    height: 1050px;
    background-color: #f9f9f9;
}