*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    width: 100%;
    box-sizing: border-box;
}
head{
    width: 100%;
    box-sizing: border-box;
}
body{
    width: 100%;
    box-sizing: border-box;
}
header{
    background: url('images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.active{
    color: #28B8D8 !important;
}
.navbar{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    height: 90px;
    z-index: 9999999;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, .3);
    display: flex;
}
.navbar .navbar-brand{
    font-size: 27px;
    color: #ffffff ;
} 
.navbar .navbar-nav{
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-item{
    margin-left: 44px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 0;
    color: #ffffff;
}
/* banner text part start  */
header .lower-text{
    color: white;
}
header .lower-text .top{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 66px;
    margin-top: 210px;
    margin-bottom: 0px;
}
header .lower-text .mid{
    text-transform: uppercase;
    font-size: 53px;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}
header .lower-text .bottom{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}
/* banner part start  */
.banner-bg{
    background-color: #f9f9f9;
    width: 100%;
    height: 710px;
}
.banner-bg .text-1{
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 0px;
    color: #444444;
}

.banner-bg .text-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18.66px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 60px;
    color: #444444;
}

.banner-bg .text-3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: #444444;
}
.banner-bg .card .card-title{
    text-align: center;
    font-size: 17pt;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin-bottom: 10px;
}
.banner-bg .card .card-text{
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
/* instagram shot part start  */
.insta-shot{
    height: 590px;
    background-color: #2c2c2c;
    padding-top: 50px;
    width: 100%;
}
.insta-shot .top{
    position: relative;
    font-size: 18pt;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #d5d5d5;
    text-transform: uppercase;
}
.insta-shot .top::after{
    content: " ";
    position: absolute;
    width: 100px;
    height: 1px;
    top: 18px;
    left: 430px;
    background-color: #d5d5d5;
}

.insta-shot .top::before{
    content: " ";
    position: absolute;
    width: 100px;
    height: 1px;
    top: 18px;
    right: 430px;
    background-color: #d5d5d5;
}
.insta-shot .picture .row{
    width: 100%;
    margin: 0;
    margin-top: 40px;
    
}
.insta-shot .picture{
    width: 100%;
    
}
.insta-shot .picture img{
    width: 100%;
}
.insta-shot .picture .col-3{
    padding: 0;
    box-sizing: border-box;
}
.insta-shot .picture .col-3 img{
    width: 100%;
}
.insta-shot .text-box{
    color: #a6a6a6;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14pt;
    text-transform: uppercase;
    margin-top: 70px;
}
.insta-shot .text-box .page-btn{
    border: 1px solid #a6a6a6;
    display: inline;
    padding: 15px;
    
}
/* journal part star ? */
.journal{
    width: 100%;
    height: 1150px;
    background-color: #f9f9f9;
}
.journal .top-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    padding-top: 75px;
}
.journal .line{
    text-align: center;
    color: #444444;
    text-transform: uppercase;
    position: relative;
}
.journal .line::after{
    content: " ";
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: #444444;
    top: 89px;
    left: 320px;
}
.journal .line::before{
    content: " ";
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: #444444;
    top: 89px;
    left: 680px;
}
/* jouranl cards part star  */
.journal .journal-cards{
    margin-bottom: 80px;
}
.journal .journal-cards .card .text{
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: center;
    flex-direction: column;
}
.journal .journal-cards .card .text .card-title{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 16pt;
}
.journal .journal-cards .card .text .card-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}
.journal .journal-cards .card a{
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    text-decoration: 2px solid #28B8D8 underline;
}
/* .journal last part start  */
.journal .journal-last-part h3{
    font-size: 16pt;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
    position: relative;
}
.journal .journal-last-part h3::after{
    content: " ";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #444444;
    top: 12px;
    right: 250px;
    opacity: 0.6;
}
.journal .journal-last-part img{
    width: 100%;
    height: auto;
}
.journal .journal-last-part .col-7 p{
    font-weight: lighter;
    font-family: 'Roboto Slab', serif;
    font-size: 14pt;
    margin-bottom: 0%;
}
.journal .journal-last-part .col-7 .low{
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}
/* Right part star  */
.journal .journal-last-part #right-line{
    font-size: 16pt;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
    position: relative;
}
.journal .journal-last-part #right-line::after{
    content: " ";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #444444;
    top: 12px;
    right: 308px;
    opacity: 0.6;
}
#service .row .col-12 .row .col-2{
    color: #28b8d8;
    
    font-size: 40px;
}
#service .row .col-12 .row .col-10 h4{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 17pt;
}
/* contact part star here  */
.contact{
    width: 100%;
    height: 400px;
    background-color: #373737;
    padding-top: 70px; 
    color: #b3b3b3;
}
.contact .heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    text-transform: uppercase;
    
}
.contact .para-1{
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    margin-top: 20px;
    text-align:left;
}
.contact h6{
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    color: #a5a5a5;
    margin-bottom: 0%;
}
.mb{
    margin-bottom: 0%;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
}
/* footer part start  */
footer{
    width: 100%;
    
    background-color: #333333;
    color: #b3b3b3;
    display: flex;
    align-items: center;
}
footer p{
    line-height: 90px;
    margin-bottom: 0;
}

/* Complete project as normal */

/* 
/* Start Responsiv part ? */

/* 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */ 


/* For mobile phones: */
 @media (max-width: 785px) {
    .navbar .navbar-nav{
        position: fixed;
        width: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, .3);
        top: 90px;
        left: 0;
    }
    .navbar .navbar-nav .nav-item{
        display: block;
        text-align: center;
        line-height: 80px;
        
    }
 }
 
